.Nombre {
    background-color: aqua;
}
nav{
    color:black;
    font-size: 35px;
}
img{
    height: 130px;
    width: 200px;
    
}
body{
    background-color: antiquewhite;
    font-family: 'Inconsolata', monospace;
}